<!--
  Generated template for the Statistics page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Statistiken</ion-title>
    <ion-buttons end>
      <eco-header></eco-header>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <div>
    <div>
      <div *ngFor="let chart1 of mobile">
        <h3>{{chart1.specialLabel}}</h3>
        <chart *ngIf="mobile" [labels]="chart1.labels" [data]="chart1.data" [options]="refreshEco" type="line"></chart>'
      </div>
      <div *ngFor="let chart1 of tracking">
        <h3>{{chart1.specialLabel}}</h3>
        <chart *ngIf="mobile" [labels]="chart1.labels" [data]="chart1.data" [options]="refreshEco" type="line"></chart>'
      </div>

    </div>
  </div>




</ion-content>