<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Feed</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openFeedSettings()">
        <ion-icon name="options"></ion-icon>
      </button>
      <eco-header></eco-header>
    </ion-buttons>

  </ion-navbar>
  <ion-toolbar [hidden]="hideSettings">
    <ion-select [(ngModel)]="selectedCategories" (ngModelChange)="selectCategories($event)">
      <ion-option value="0">Alle Kategorien</ion-option>
      <ion-option value="{{cat.id}}" *ngFor="let cat of cats.categories">
        <ion-icon name="{{cat.icon}}"></ion-icon> {{cat.name}}
      </ion-option>
    </ion-select>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let post of postService.posts">
    <ion-item *ngIf="post.username">
      <ion-avatar item-left (click)="viewUser(post.userId)">
        <img *ngIf="post.userpicture" [src]="post.userpicture">
      </ion-avatar>
      <h2 (click)="viewUser(post.userId)">{{ post.username }}</h2>
      <p>{{ post.createdAt | date:'dd.MM.yy HH:mm'}}</p>
    </ion-item>
    <img class="full-image" *ngIf="isTracking(post) || isPosition(post)" (click)="viewPost(post.postId)" src="https://maps.googleapis.com/maps/api/staticmap?{{ staticMap(post) }}">
    <img class="full-image" *ngIf="post.data && post.type == 'camera'" (click)="viewPost(post.postId)" src="http://greencity.dnsv.eu/uploads/{{ post.data }}">
    <ion-item text-wrap class="post-body">
      <div (click)="viewPost(post.postId)">

        <p padding-top padding-bottom *ngIf="post.text" [innerHTML]="post.text"></p>
      </div>

      <div>
        <a (click)="viewPost(post.postId)" class="subdued">{{ post.likeCount}} Likes</a>
        <a (click)="viewPost(post.postId)" class="subdued" margin-left>{{ post.commentCount}} Comments</a>
      </div>
    </ion-item>

    <ion-grid class="post-actions">
      <ion-row>
        <ion-col width-50 text-center (click)="toggleLike(post)">
          <ion-icon name="leaf" color="primary" *ngIf="post.alreadyLiked > 0"></ion-icon>
          <ion-icon name="thumbs-up" *ngIf="post.alreadyLiked == 0"></ion-icon>
        </ion-col>
        <ion-col width-50 text-center (click)="viewPost(post.postId)">
          <ion-icon name="chatboxes"></ion-icon>
        </ion-col>

      </ion-row>
    </ion-grid>

  </ion-card>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>



  <ion-fab right bottom padding>
    <button ion-fab color="danger"><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab (click)="addTracking()" color="secondary">
        <ion-icon name="bicycle"></ion-icon> 
        <div style="color: #000">Fahrradstrecke aufzeichnen</div>
      </button>
      <button ion-fab (click)="addIssue()" color="primary">
        <ion-icon name="camera"></ion-icon> 
        <div style="color: #000">Foto machen</div>
      </button>
      <button ion-fab (click)="addPosition()" color="light">
        <ion-icon name="location"></ion-icon> 
        <div style="color: #000">Standort melden</div>
      </button>
    </ion-fab-list>
  </ion-fab>



</ion-content>