page-challenge-detail {
    .progressbar {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .button-inner {
        word-wrap: break-word;
        /* height: 150px; */
        overflow: initial;
        white-space: initial;
    }

    button {
        padding: 3.0em 0.6em
    }
}
